{% extends 'base.html.twig' %}

{% block title %}Cliente :: {{ cliente.razaoSocial }} {% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Cliente detalhe</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('crm_index') }}"><i class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item">Cadastros</li>
                <li class="breadcrumb-item"><a href="{{ path('cliente') }}">Clientes</a></li>
                <li class="breadcrumb-item active">Detalhe</li>
            </ul>
        </div> 
    </div>

{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-9 col-md-9">
            <div class="card client-detail">
                <div class="body">
                    
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="m-t-0 m-b-0"><strong>{{ cliente.razaoSocial }}</strong><a class="pl-3" href="{{ path('contato', {'cliente':cliente.id}) }}" title="Contatos"><i class="fa fa-fw fa-comments-o text-muted"></i> </a></h4>
                                        <span>{{ cliente.cnpj }}</span>
                                        <p class="m-t-15">
                                            {{ cliente.logradouro }}, {{ cliente.numero }}, {{ cliente.bairro }} - CIDADE-UF 
                                            <br>CEP: {{ cliente.cep }}
                                        </p>
                                        <p>
                                            {% if cliente.vendedor %}
                                                <span class="badge badge-success">Vendedor: {{ cliente.vendedor.nome }}</span>
                                            {% else %}
                                                <span class="badge badge-danger">Sem vendedor</span>
                                            {% endif %}
                                        </p>
                                        <p>
                                            <span class="badge badge-info">Dia entrega: {{ cliente.diaEntrega }}</span>
                                            <span class="badge badge-info">Tipo compra: {{ cliente.tipoCompra|join(' | ') }}</span>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        {% if cliente.telefone1 %} <i class="fa fa-phone fa-xs"></i> {{ cliente.telefone1 }} &nbsp {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if cliente.telefone2 %} <i class="fa fa-phone fa-xs"></i> {{ cliente.telefone2 }} &nbsp{% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if cliente.telefone3 %} <i class="fa fa-phone fa-xs"></i> {{ cliente.telefone3 }} {% endif %}
                                    </div>
                                </div>
                                
                                {% if ultimaNotaEstabelecimentos|length > 0 %}
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Ultimas notas fiscais</strong>
                                        <div class="table-responsive">
                                            <table class="table table-hover dataTable table-sm" style="font-size: small;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Estab</th>
                                                        <th>Serie</th>
                                                        <th>Numero</th>
                                                        <th>Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for nota in ultimaNotaEstabelecimentos %}
                                                        <tr>
                                                            <td>{{ nota.estabelecimento.razaoSocial }}</td>
                                                            <td>{{ nota.serie }}</td>
                                                            <td>{{ nota.numero }}</td>
                                                            <td>{{ nota.emissao|date('d/m/Y') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                            <div class="col-4 bg-light p-t-15">
                                {% if cliente.clienteInfo %}
                                    <div class="row m-t-15">
                                        <div class="col-4">
                                            <span class="badge badge-success">R: {{ cliente.clienteInfo.r }}</span>
                                        </div>
                                        <div class="col-4">
                                            <span class="badge badge-success">F: {{ cliente.clienteInfo.f }}</span>
                                        </div>
                                        <div class="col-4">
                                            <span class="badge badge-success">V: {{ cliente.clienteInfo.v }}</span>
                                        </div>
                                    </div>
                                    <div class="row m-t-15">
                                        <div class="col-12">
                                            <span class="badge badge-info">Crédito: {{ cliente.clienteInfo.credito }}</span>
                                        </div>
                                    </div>
                                    <div class="row m-t-15">
                                        <div class="col-12">
                                            <span class="badge badge-info">Validade: {{ cliente.clienteInfo.creditoValidade|date('d/m/Y') }}</span>
                                        </div>
                                    </div>
                                    <div class="row m-t-15">
                                        <div class="col-12">
                                            {% if cliente.clienteInfo.diasUltimaCompra > 30 %}
                                                <span class="badge badge-danger"><strong>Ultima compra há {{ cliente.clienteInfo.diasUltimaCompra }} dias </strong></span>
                                            {% else %}
                                                <span class="badge badge-primary">Ultima compra há {{ cliente.clienteInfo.diasUltimaCompra }} dias</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Followup</h2>
                </div>
                <div class="body">
                    <form method="post" action="{{ path('followup_new') }}">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="descricao_followup" required="required" class="form-control" rows="5" placeholder="Descrição"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">   
                                <div class="m-t-15 pull-right">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="cliente_id" value="{{ cliente.id }}" />
                        <input type="hidden" name="token" value="{{ csrf_token('add_followup') }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div id="div_followups" class="body">
                    <input type="hidden" id="followups_page" value="0">
                </div>
                <div class="footer text-center p-2">
                    <button id="btn-carregar-mais" class="btn btn-sm btn-info" title="Carregar mais">Carregar mais</button>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/bundles/datatablescripts.bundle.js') }}"></script>

    <script>
    
        $(document).ready(function(){

            getFollowups();

            $("#btn-carregar-mais").click(()=>{
                getFollowups();
            });
        });

        function getFollowups() {
            let page = parseInt( $("#followups_page").val() );

            $.post("{{ path('followup_get_by_cliente') }}",
                {
                    cliente_id: {{ cliente.id }},
                    page: page
                }, 
                function(data) {
                    if(data != "") {
                        $("#div_followups").append(data);
                        
                        page++;
                        $("#followups_page").val(page);
                    } else {
                        $("#btn-carregar-mais").attr("disabled", "disabled").html("Não há mais registros");
                    }
                }
            );
        }

    </script>
{% endblock %}