{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">

{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Clientes</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('crm_index') }}"><i class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item">Cadastros</li>
                <li class="breadcrumb-item active">Clientes</li>
            </ul>
        </div> 
    </div>

{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <table id="table_clientes" class="table table-hover dataTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>CNPJ</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>CNPJ</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Winner Pneus</td>
                                    <td>51.511.511/0001-51</td>
                                    <td>Limeira</td>
                                    <td>SP</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Loser Pneus</td>
                                    <td>51.511.511/0001-51</td>
                                    <td>Limeira</td>
                                    <td>SP</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/bundles/datatablescripts.bundle.js') }}"></script>

    <script>
    
        $(document).ready(function(){

            let dataTable = $('#table_clientes').DataTable( );

        });

    </script>
{% endblock %}