{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/nestable/jquery-nestable.css') }}"/>

    <style>
        .dd-empty {
            background: #FFFFFF;
            border: 0;
        }
        .etapas-container > .row {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            flex-wrap: nowrap;

        }
        .etapas-container > .row > .col-lg-3  {
            display: inline-block;
        }
        .etapas-container > .row > .col-md-6  {
            display: inline-block;
        }

         /* width */
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Negócios</h2>
        </div> 
    </div>

{% endblock %}

{% block body %}

    <div class="row clearfix">
        <div class="col-lg-6">
            {{ render(controller(
                'App\\Controller\\NegocioController::__advancedFilter'
            )) }}
        </div>
    </div>


    <!--<div class="etapas-container"> -->

        <div class="row clearfix taskboard">
            
            {% for etapa in etapas %}
                <div class="col-lg-3 col-md-6">
                    <div class="card planned_task">
                        <div class="header">
                            <h2>{{ etapa.descricao }}</h2>
                        </div>
                        <div class="body">
                            <div class="dd" data-plugin="nestable" name="etapa_negocios_{{ etapa.id }}" id="etapa_negocios_{{ etapa.id }}" data-id="{{ etapa.id }}">
                                <ol class="dd-list"></ol><div class="dd-empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        <!-- </div> -->
    </div>
    

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/vendor/nestable/jquery.nestable.min.js') }}"></script>

    <script>

    $(document).ready(function(){

        {% if app.user.vendedor %}
            $("#filtro_vendedor").val({{ app.user.vendedor.id }})
        {% endif %}

        let now = new Date();
        let diaSemana = now.getDay()
        $("#filtro_dia_entrega").val(baseSemana[diaSemana]);

        //To full screen
        $('.btn-toggle-fullwidth').click();

        $('.dd').nestable({
            beforeDragStop: function(l,e, p){
                // l is the main container
                // e is the element that was moved
                // p is the place where element was moved.

            
                let idNegocio = $(e).data("id");
                let idEtapaNova = $(p).parent().data("id");

                changeEtapa(idNegocio, idEtapaNova);
                
            }
        });

        findNegocios();

        $('.redraw-data-table').change(function(){
            findNegocios();
        });

    });

    function findNegocios() {
        $("div[name^=etapa_negocios_]").each(function() {
            let uiId = this.id;
            let idEtapa = $(this).data("id"); 
            
            $(this).html("");

            getNegocios(idEtapa, uiId);

        });
    }

    function getNegocios(etapaId, uiId) {
        $.post("{{ path('negocio_get') }}",
            {
                negocio_etapa: etapaId,
                vendedor: $("#filtro_vendedor").val(),
                dia_entrega: $("#filtro_dia_entrega").val()
            }, 
            function(data) {
                if(data != "") {
                    
                    $("#" + uiId).html(data);
                    $("#" + uiId).find('.dd-empty').remove();

                } else {
                    $("#" + uiId).html('<ol class="dd-list"></ol><div class="dd-empty"></div>');
                }
                
            }
        );
    }

    function changeEtapa(idNegocio, idEtapa) {
        $.post("{{ path('negocio_change_etapa') }}",
            {
                negocio: idNegocio,
                etapa: idEtapa
            }, 
            function(data) {
                if(!data.success) {
                    
                  
                } 
                
            }
        );
    }

    </script>

{% endblock %}
