{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/nestable/jquery-nestable.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/multi-select/css/multi-select.css') }}">

{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Negócios</h2>
        </div> 
    </div>

{% endblock %}

{% block body %}

    <div class="row clearfix">
        <div class="col-lg-6">
            {{ render(controller(
                'App\\Controller\\ClienteController::__advancedFilter'
            )) }}
        </div>
    </div>

    <div class="row clearfix taskboard">

        {% for etapa in etapas %}
            <div class="col-lg-3 col-md-6">
                <div class="card planned_task">
                    <div class="header">
                        <h2>{{ etapa.descricao }}</h2>
                        <ul class="header-dropdown">
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#addcontact"><i class="icon-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="dd" data-plugin="nestable">
                            <ol name="etapa_negocios_{{ etapa.id }}" id="etapa_negocios_{{ etapa.id }}" data-id="{{ etapa.id }}" class="dd-list">
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
    

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/vendor/nestable/jquery.nestable.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script> <!-- Multi Select Plugin Js -->
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>

    <script>

    $(document).ready(function(){

        {% if app.user.vendedor %}
            $("#filtro_vendedor").val({{ app.user.vendedor.id }})
        {% endif %}

        let now = new Date();
        let diaSemana = now.getDay()
        $("#filtro_dia_entrega").val(baseSemana[diaSemana]);

        //To full screen
        $('.btn-toggle-fullwidth').click();

        $('.multiselect').multiselect({
            buttonClass: 'btn btn-default btn-sm'
        });

        $('.dd').nestable({
            callback: function(l,e){
                // l is the main container
                // e is the element that was moved
            }
        });


        findNegocios();

        $('.redraw-data-table').change(function(){
            findNegocios();
        });

    });

    function findNegocios() {
        $("ol[name^=etapa_negocios_]").each(function() {
            let uiId = this.id;
            let idEtapa = $(this).data("id"); 
            
            $(this).html("");
            $(this).closest('.dd').find('.dd-empty').remove();

            getNegocios(idEtapa, uiId);

        });
    }

    function getNegocios(etapaId, uiId) {
        $.post("{{ path('negocio_get') }}",
            {
                negocio_etapa: etapaId,
                vendedor: $("#filtro_vendedor").val(),
                dia_entrega: $("#filtro_dia_entrega").val()
            }, 
            function(data) {
                if(data != "") {
                    
                    $("#" + uiId).html(data);
                    $("#" + uiId).closest('.dd').find('.dd-empty').remove();

                } else {
                    $("#" + uiId).closest('.dd').append('<div class="dd-empty"></div>');
                }
            }
        );
    }

    </script>

{% endblock %}
