{% extends 'base.html.twig' %}

{% block title %}Painel do Vendedor{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Painel do Vendedor</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('crm_index') }}"><i class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item active">Painel do Vendedor</li>
            </ul>
        </div> 
    </div>

{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">

                    <h5>Contatos aniversariantes</h5>
                    <div class="table-responsive">
                        <table id="table_aniversariantes" class="table table-hover dataTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Cliente</th>
                                    <th>Contato</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Data Nascimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if contatosAniversariantes|length > 0 %}

                                    {% for contato in contatosAniversariantes %}
                                        <tr>
                                            <td>{{ contato.cliente.razaoSocial }}</td>
                                            <td>{{ contato.nome }}</td>
                                            <td>{{ contato.email }}</td>
                                            <td>{{ contato.telefone }}</td>
                                            <td>{{ contato.dataNascimento|date('d/m/Y') }}</td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <tr><td colspan="5" class="text-center">Não há contatos aniversariantes</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script> <!-- Multi Select Plugin Js -->
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('assets/bundles/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/responsive/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/responsive/responsive.bootstrap4.min.js') }}"></script>
    

    <script>

        $(document).ready(function(){

            

        });

    </script>
{% endblock %}