{% extends 'base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/responsive/responsive.bootstrap4.min.css') }}">

{% endblock %}

{% block body_header %}

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Produtos</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('crm_index') }}"><i class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item">Cadastros</li>
                <li class="breadcrumb-item active">Produtos</li>
            </ul>
        </div> 
    </div>

{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    
                    {{ render(controller(
                        'App\\Controller\\ProdutoController::__advancedFilter'
                    )) }}

                    <div class="table-responsive">
                        <table id="table_produtos" class="table table-hover dataTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Codigo</th>
                                    <th>Descricao</th>
                                    <th>Categoria</th>
                                    <th>Familia</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Codigo</th>
                                    <th>Descricao</th>
                                    <th>Categoria</th>
                                    <th>Familia</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/multi-select/js/jquery.multi-select.js') }}"></script> <!-- Multi Select Plugin Js -->
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('assets/bundles/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/responsive/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-datatable/responsive/responsive.bootstrap4.min.js') }}"></script>
    

    <script>

        $(document).ready(function(){

            let dataTable = $('#table_produtos').DataTable( {
                "responsive": true,
                "language": {
                    url: '{{ asset('assets/bundles/datatablesportuguese.json') }}'
                },
                "deferRender": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ path('produto_list') }}',
                    "type": 'POST',
                    "data": (data) => {
                        data.filtro_familia = $("#filtro_familia").val();
                        data.filtro_subfamilia = $("#filtro_subfamilia").val();
                        data.filtro_grupo = $("#filtro_grupo").val();
                        data.filtro_marca = $("#filtro_marca").val();
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "codigo" },
                    { "data": "descricao" },
                    { "data": "categoria" },
                    { "data": "familia" },
                    {
                        "data":           'action_column',
                        "className":      'details-control',
                        "orderable":      false,
                        "defaultContent": ''
                    },
                ],
                "order": [[2, 'asc']]
            } );


            $('.redraw-data-table').change(function(){
                dataTable.draw();
            });

        });

    </script>
{% endblock %}